/* ================= INTER ================= */
@font-face {
  font-family: "Inter";
  src: url("./Inter_28pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./Inter_28pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./Inter_28pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./Inter_28pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* ============ NOTO KUFI ARABIC ============ */
@font-face {
  font-family: "NotoKufiArabic";
  src: url("./NotoKufiArabic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "NotoKufiArabic";
  src: url("./NotoKufiArabic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "NotoKufiArabic";
  src: url("./NotoKufiArabic-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "NotoKufiArabic";
  src: url("./NotoKufiArabic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
